.notification-page {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.notification-details {
  margin-top: 20px;
}
