<app-home-nav></app-home-nav>

<div class="message-container">
  <div class="receiver-name">
    <p style="padding-left: 10px">Chatting with {{receiver | titlecase}}</p>
  </div>
  <div class="pagination">
    <ng-container *ngIf="currentPage < totalPage">
      <div class="pagination">
        <button class="more-btn" (click)="onPageChange(currentPage + 1)">See older..</button>
      </div>
    </ng-container>
  </div>
  <div>
    <table class="message-table">
      <thead>

      </thead>
      <tbody>
        <tr *ngFor="let message of messages" class="message-row">
          <td style="width: 90%; margin: auto">
            <div class="msg-container">
              <div class="message" [ngClass]="{'sent': currentUser.username == message.sender, 'received': receiver == message.sender}">
                {{ message.content }}
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
      <ng-container *ngIf="currentPage > 1">
        <div class="pagination">
          <button class="more-btn" (click)="onPageChange(currentPage - 1)">See newer..</button>
        </div>
      </ng-container>
    </div>
    <div class="message-input">
      <textarea [(ngModel)]="newMessage" placeholder="Type your message here..." class="message-textbox" (keydown.enter)="OnClick()"></textarea>
      <button class="send-button" (click)="OnClick()">Send</button>
    </div>
  </div>
</div>
