
/* Message Container */
.message-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 40%;
  margin: auto;
  max-width: inherit;
}

/* Receiver Name */
.receiver-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #cacfd2;
}

/* Message Table */
.message-table {
  width: 100%;
  margin: auto;
}

/* Message Input */
.message-input {
  margin: auto;
  display: flex;
  width: 90%;
}

/* Message Textbox */
.message-textbox {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  resize: none;
 }

.message-textbox::-webkit-scrollbar {
  display: none;
}


/* Send Button */
.send-button {
  padding: 10px 20px;
  background-color: #0084ff;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

/* Send Button Hover */
.send-button:hover {
  background-color: #0056b3;
}


.pagination {
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
}

.pagination .more-btn {
  background-color: #16221c;
  color: #208955;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.pagination .more-btn:hover {
  background-color: #0056b3;
}


.message-row {
  display: flex;
  margin: auto;
}

.msg-container {
  display: flex;
  flex-direction: column;
}

.message {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.received {
  background-color: #eaeaea; /* Background color for received messages */
  align-self: flex-start;
}

.sent {
  background-color: #4CAF50; /* Background color for sent messages */
  align-self: flex-end;
}


