<app-home-nav></app-home-nav>

<div class="navbar">
  <div class="filter-container">
    <button class="filter-button" (click)="showFilterPopup()">Filter</button>
    <ng-container *ngIf="showClearFilter" class="clear-filter-container">
      <button class="clear-filter-button" (click)="clearFilter()">
        Clear Filter
      </button>
    </ng-container>
  </div>
</div>

<div style="overflow-x: auto;">
  <table class="teacher-table">
    <thead>
    <tr>
      <th style="text-align: center">Username</th>
      <th style="text-align: center;">Teacher ID</th>
      <th style="text-align: center;">Name</th>
      <th style="text-align: center;">University</th>
      <th style="text-align: center;">Department</th>
      <th style="text-align: center;">Gender</th>
      <th style="text-align: center;">Blood Group</th>
      <th style="text-align: center">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let teacher of TeacherList">
      <td>{{teacher.username}}</td>
      <td>{{ teacher.teacher_id }}</td>
      <td>{{ teacher.name }}</td>
      <td>{{ teacher.university }}</td>
      <td>{{ teacher.department }}</td>
      <td>{{ teacher.gender }}</td>
      <td>{{ teacher.blood_group }}</td>
      <td>
        <button class="send-message-button" (click)="sendMessage(teacher.username)" [disabled]="teacher.username == currentUser">Send Message</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="pagination">
  <button class="previous-button" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1 || totalItems === 0">Previous</button>

  <ng-container *ngFor="let page of getPageNumbers()">
    <button *ngIf="page !== -1" class="page-button" [class.btn-light]="currentPage !== page"
            [class.btn-success]="currentPage === page" (click)="onPageChange(page)" [disabled]="currentPage === page">
      {{ page }}
    </button>
    <span *ngIf="page === -1">...</span>
  </ng-container>

  <button class="next-button" (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages || totalItems === 0">Next</button>
</div>
<app-teacher-filter *ngIf="showFilter" [filterInfo]="filterInfo" (applyFilter)="applyFilter($event)" (close)="closeFilterPopup()"></app-teacher-filter>
